.form-group {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    width: 100%;
}

.btn-primary {
    color: white;
    background-color:black;
    border: none;
}

.btn-primary:hover {
    color:  #5D5D5D;
    background-color: #dee2e6;
  }